@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

body::selection {
  background: #F6BC00;
  color: #000000;
}